body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

a   {
    text-decoration: none;
    font-size: 1.3rem;
}

.hero-img   {
    position: absolute;
    top: 0;
    left: 0;
    background: url('..assets/shoe')
}
nav {

}